<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meteo Data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope='col'>izvor_podatka</th>
            <th scope='col'>station</th>
            <th scope='col'>latitude</th>
            <th scope='col'>longitude</th>
            <th scope='col'>region</th>
            <th scope='col'>elevation</th>
            <th scope='col'>date</th>
            <th scope='col'>time</th>
            <th scope='col'>temperature</th>
            <th scope='col'>temperature_max</th>
            <th scope='col'>temperature_min</th>
            <th scope='col'>temperature_trend_hour</th>
            <th scope='col'>temperature_trend_3hours</th>
            <th scope='col'>temperature_trend_day</th>
            <th scope='col'>pressure</th>
            <th scope='col'>pressure_trend_hour</th>
            <th scope='col'>pressure_trend_3hours</th>
            <th scope='col'>pressure_trend_day</th>
            <th scope='col'>humidity</th>
            <th scope='col'>humidity_trend_hour</th>
            <th scope='col'>humidity_trend_3hours</th>
            <th scope='col'>humidity_trend_day</th>
            <th scope='col'>precipitation</th>
            <th scope='col'>precipitation_trend_hour</th>
            <th scope='col'>precipitation_trend_3hours</th>
            <th scope='col'>precipitation_trend_day</th>
            <th scope='col'>wind_speed</th>
            <th scope='col'>wind_direction</th>
            <th scope='col'>wind_gust</th>
            <th scope='col'>wind_gust_max</th>
            <th scope='col'>wind_gust_max_dir</th>
            <th scope='col'>wind_chill</th>
            <th scope='col'>uv_index</th>
          </tr>
        </thead>
        <tbody>
            {% for data in meteodatas %}
            <tr>
                <td>{{ data.izvor_podatka|default_if_none:"" }}</td>
                <td>{{ data.station|default_if_none:"" }}</td>
                <td>{{ data.latitude|default_if_none:"" }}</td>
                <td>{{ data.longitude|default_if_none:"" }}</td>
                <td>{{ data.region|default_if_none:"" }}</td>
                <td>{{ data.elevation|default_if_none:"" }}</td>
                <td>{{ data.date|default_if_none:"" }}</td>
                <td>{{ data.time|default_if_none:"" }}</td>
                <td>{{ data.temperature|default_if_none:"" }}</td>
                <td>{{ data.temperature_max|default_if_none:"" }}</td>
                <td>{{ data.temperature_min|default_if_none:"" }}</td>
                <td>{{ data.temperature_trend_hour|default_if_none:"" }}</td>
                <td>{{ data.temperature_trend_3hours|default_if_none:"" }}</td>
                <td>{{ data.temperature_trend_day|default_if_none:"" }}</td>
                <td>{{ data.pressure|default_if_none:"" }}</td>
                <td>{{ data.pressure_trend_hour|default_if_none:"" }}</td>
                <td>{{ data.pressure_trend_3hours|default_if_none:"" }}</td>
                <td>{{ data.pressure_trend_day|default_if_none:"" }}</td>
                <td>{{ data.humidity|default_if_none:"" }}</td>
                <td>{{ data.humidity_trend_hour|default_if_none:"" }}</td>
                <td>{{ data.humidity_trend_3hours|default_if_none:"" }}</td>
                <td>{{ data.humidity_trend_day|default_if_none:"" }}</td>
                <td>{{ data.precipitation|default_if_none:"" }}</td>
                <td>{{ data.precipitation_trend_hour|default_if_none:"" }}</td>
                <td>{{ data.precipitation_trend_3hours|default_if_none:"" }}</td>
                <td>{{ data.precipitation_trend_day|default_if_none:"" }}</td>
                <td>{{ data.wind_speed|default_if_none:"" }}</td>
                <td>{{ data.wind_direction|default_if_none:"" }}</td>
                <td>{{ data.wind_gust|default_if_none:"" }}</td>
                <td>{{ data.wind_gust_max|default_if_none:"" }}</td>
                <td>{{ data.wind_gust_max_dir|default_if_none:"" }}</td>
                <td>{{ data.wind_chill|default_if_none:"" }}</td>
                <td>{{ data.uv_index|default_if_none:"" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="32" class="text-center">No data available</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</body>
</html>
